html {
    color: white;
    background-color: slategrey;
    min-height: 100vh;
}

/* Universal Box Sizing */
/* allows for overrides if necessary */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



/* resets */
h2 {
    font-size: inherit;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

input[type='text'] {
    font-size: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    width: 100%;
    max-width: 800px;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* project display */
.project {
    background-color: rgb(65, 74, 83);
    padding: 1rem 2rem;

    border-radius: 2rem;

    position: relative;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-body > ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.project-close {
    font-size: 2.2rem;
    font-weight: bold;
    transition: color 0.2s ease;

    cursor: pointer;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
}

.project-close:hover {
    color: red;
}

.controls {
    padding: 1rem 0;
}

.button {
    transition: background-color 0.1s ease-out;

    font-size: 1rem;
    font-weight: bold;

    background-color:rgb(68, 107, 146);
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
}

.button:hover {
    background-color: rgb(31, 90, 150)
}

.newTaskButton {
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0rem .5rem;

    margin-left: 2rem;
}

.project-head {
    font-size: 1.6rem;
}

.project-head h2 {
    padding-left: 1rem;
}

.project-head input {
    outline: none;
    border: none;
    color: inherit;

    display: none;
    font-family: serif;
    font-size: inherit;

    background-color: inherit;
    background-color: rgba(0,0,0,0.1);

    padding-left: 1rem;
    border-radius: 1rem;

}

.project-head h2.active {
    display: none;
}

.project-head input.active {
    display: unset;
}

.task-row {
    display: flex;
    gap: .7rem;
    align-items: center;

    font-family: sans-serif;
}

.task-row button {
    font-size: 1.4rem;
    color: rgb(177, 177, 177);
    outline: none;
    border: none;
    background: none;
    padding: 0;
}
